<html>
    <head>
        <title>DjangoGirls</title>
    </head>
    <body>
        <div>
            <h1>Learning Python!</h1>
            <h2>Date: 24th June 2017</h2>
        </div>

        <div>
            <p>An exciting day filled with knowledge!</p>
            <p><a href="">Django Girls Blog</a></p>
        </div>

        <div>
            <p>Learning about:</p>
            <ul>Python</ul>
            <ul>Django</ul>
            <ul>HTML</ul>
            <ul>GitHub</ul>
            <ul>...and many more!</ul>
        </div>

        <div>
            <strong>blablabla</strong>
        </div>
        
      </body>
</html>
